{%load static %}
{% include 'header.html' %}
<img  class="img-fluid" src="{% static 'images/images7.jpg' %}">
<div class="text-success text-center m-5 mt-5">
    <h1>{{result}}</h1>
    </div>
<section class="py-5 bg-light">
  <div class="container px-5 my-1">
      <div class="row gx-5 justify-content-center">
          <div class="col-lg-8 col-xl-6">
              <div class="text-center">
                  <h2 class="fw-bolder">Health Heaven Hospiria</h2>
                  <p>The Highest Quality Healthcare. The Hospital of the Future, Today</p>
                  <p>Hospitals are important to treat minor and serious diseases, illnesses and disorders of the body function of varying types and severity.Hospitals also help promote health, give information on prevention of illnesses and as well offer curative services</p>
              </div>
          </div>
      </div>
      <div class="row gx-5 mb-5">
          <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                  <img class="card-img-top" src="{% static 'images/d1.jpg' %}" alt="..."/>
                  <div class="card-body p-4">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">Spcialist</div>
                      <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Online Hospital Services</h5></a>
                      <p class="card-text mb-0">Specialized hospitals include trauma centers, rehabilitation hospitals, children's hospitals, seniors' (geriatric) hospitals, and hospitals for dealing with specific medical needs such as psychiatric treatment (see psychiatric hospital) and certain disease categories</p>
                  </div>
                  <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                      <div class="d-flex align-items-end justify-content-between">
                          <div class="d-flex align-center">
                      
                             
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                  <img class="card-img-top" src="{% static 'images/d2.jpg' %}" alt="..."/>
                  <div class="card-body p-4">
                      <div class="badge bg-primary  bg-gradient rounded-pill mb-2">Qualification</div>
                      <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">We Provide Best Of Us </h5></a>
                      <p class="card-text mb-0">We have best doctors to connect with you. MD Docters,Biochemistry, Gerontology, Biology,  Health and Physical Fitness, Dental Hygiene, Pharmacy,Respiratory Therapy</p>
                  </div>
                  <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                      <div class="d-flex align-items-end justify-content-between">
                          <div class="d-flex align-items-center">
                              
                              
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                  <img class="card-img-top" src="{% static 'images/d3.jpeg' %}" alt="..." />
                  <div class="card-body p-4">
                      <div class="badge bg-primary bg-gradient rounded-pill  mb-2">Facilities</div>
                      <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">The Latest Facilities Is Here</h5></a>
                      <p class="card-text mb-0">OPD (Allopathy & Homeopathy),Dental facility, Ward/ Indoor facility,Minor OT/ Dressing Room, Physiotherapy,Laboratory services,ECG Services,Pharmacy,emengency services</p>
                  </div>
                  <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                      <div class="d-flex align-items-end justify-content-between">
                          <div class="d-flex align-items-center">
                            
                              
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
<!-- Team members section-->
<section class="py-5" style="background-color:skyblue">
<div class="container px-5 my-5">
  <div class="text-center">
      <h2 class="fw-bolder">Our team</h2>
      <p class="lead fw-normal text-dark mb-5">Dedicated to quality and 100% result</p>
  </div>
 
</div>
</section>
</main>

{% include 'footer.html' %}