{% include 'header.html' %}
{% load static %}
<div class="container row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4 offset-1">
            <div class="container mt-5">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Login Form</h4>
                    </div>
                    <div class="card-body">
                        {% if error %}
                        <div class="alert alert-danger">
                            {{error}}
                        </div>
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input type="email" name="email" placeholder="Email" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input type="password" name="password" placeholder="Password" class="form-control">
                            </div>
                            
                            <div class="mb-3">
                                <button class="btn btn-primary" type="submit">LogIn</button>
                            </div>
                        </form>
                    </div>
                </div>
            
            </div>
    
    

    </div>
    <div class="col-md-4">

    </div>
</div>

{% include 'footer.html' %}