{%load static %}
{% include 'header.html' %}


<div class="container">
  <form class="my-5" action="">
    <div class="input-group mb-3">
      <input type="text" name="q" class="form-control" placeholder="Search patient with name or mobile number">
      <button class="btn btn-dark" type="submit" id="button-addon2">Search</button>
    </div>
  </form>
</div>
<div class="container mt-5">
 <h1>Patient List</h1>
 <table class="table table-border  border-striped">
   <thead>
     <tr>
       <th>id</th>
       <th>Name</th>
       <th>Email</th>
       <th>age</th>
       <th>gender</th>
       <th>mobile</th> 
       <th>Action</th>
     </tr>  
   </thead> 
   <tbody>
     {% for item in patientdata %}
      <tr>
        <th>{{item.id}}</th>
        <th>{{item.Patient_name}}</th>
        <th>{{item.email}}</th>
        <th>{{item.age}}</th>
        <th>{{item.gender}}</th>
        <th>{{item.mobile}}</th>
        
        
        
        <td>
           <a class="btn btn-sm btn-primary" href="{% url 'view' item.id %}">view</a>
          
              <a class="btn btn-sm btn-success" href="{% url 'update' item.id  %}">edit</a>
          
          
              <a class="btn btn-sm btn-dark" href="{% url 'delete' item.id %}">delete</a>
            
          </td>
      </tr>
     {% endfor %}  
   </tbody>   
 </table>  
</div>

{% include 'footer.html' %}